*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* background-color: #809faa; */
}
.who{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    padding: 5px 10px;
   
    border-radius: 10px;
    align-self: normal;
    cursor: pointer;
}

.title h1{
    text-align: center;
    margin-top: 10px;
    font-size: 42px;
}
.title h1::after{
    content: "";
    height: 4px;
    width: 230px;
    background-color: #000;
    display: block;
    margin:auto;

}
.services{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: #efefef;
    border-radius: 10px;
    align-self: normal;
    cursor: pointer;
}
.card:hover{
    background-color: #b8d4de;
    transition: 0.4s ease;
}

.card h2{
    font-size: 28px;
    color: #c94f4f;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 1.5;
    color: #5e5e5e;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #2c677c;
    padding: 8px 12px;
    border: 5px;
    letter-spacing: 1px;

}
.button:hover{
    background-color: #c94f4f;
    transition: 0.4s ease;
}


@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        margin: 15px 0px;
        padding: 10px 20px;
        background-color: #efefef;
        border-radius: 10px;
        
    }
}
